<div class="container-fluid p-0 bg-white shadow-sm sticky-top">
  <div class="container px-0 py-0">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <!-- <a class="navbar-brand" href="https://adyanmuhammad.github.io/airs-2/">
        <img src="https://adyanmuhammad.github.io/airs-2/assets/img/logo.jpg">
      </a> -->
      <a class="mr-lg-5" href="tel:{{ site.phone }}" 
            style="
            font-size: 16px;
            line-height: 1;
            padding: 16px 12px;
            background-color: #90c33e;
            color: white;
            ">
            Airs Environmental Ltd.
          </a>

      <div class="d-flex flex-row">
        <button class="d-block d-lg-none" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation" style="
          font-size: 16px;
          line-height: 1;
          padding: 16px 16px;
          background-color: #90c33e;
          color: white;
          border: none;
          ">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item text-uppercase font-weight-bold text-dark">
            <a class="nav-link" href="https://adyanmuhammad.github.io/airs-2/">
              Home
            </a>
          </li>
          <li class="nav-item text-uppercase font-weight-bold text-dark">
            <a class="nav-link" href="https://adyanmuhammad.github.io/airs-2/sectors/">
              Cleaning Sectors
            </a>
          </li>
          <li class="nav-item text-uppercase font-weight-bold text-dark">
            <a class="nav-link" href="https://adyanmuhammad.github.io/airs-2/contact/">
              Contact Us
            </a>
          </li>
        </ul>
        <div class="d-flex flex-row">
          <a href="tel:{{ site.phone }}" 
            style="
            font-size: 16px;
            line-height: 1;
            padding: 16px 12px;
            background-color: #90c33e;
            color: white;
            ">
            Call Us at {{ site.phone }}
          </a>
        </div>
      </div>

    </nav>
  </div>
</div>
