<div class="container-fluid p-0 bg-white shadow-sm sticky-top">
  <div class="container px-0 py-0">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">
        {{ site.title }}
      </a>
      
      <div class="d-flex flex-row">
        <a class="btn btn-primary px-2 py-1 my-2 my-sm-0 mr-3 d-block d-lg-none" type="button" href="tel:{{ site.phone }}" style="background-color: #90c33e; border: transparent;">
          CALL US!
        </a>
        <button class="btn btn-primary px-2 py-1 my-2 my-sm-0 d-block d-lg-none" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation" style="background-color: #90c33e; border: transparent;">
          Menu
        </button>
      </div>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://adyanmuhammad.github.io/airs-2/">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://adyanmuhammad.github.io/airs-2/sectors/">
              Cleaning Sectors
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Services
            </a>
            <div class="dropdown-menu rounded-0 border-0 bg-white p-0 p-lg-3 shadow" aria-labelledby="navbarDropdown">
              <a class="dropdown-item border-bottom border-light" href="https://adyanmuhammad.github.io/airs-2/asbestos-removal/" style="padding: .75rem 1.25rem;">
                Asbestos Removal
              </a>
              <a class="dropdown-item" href="https://adyanmuhammad.github.io/airs-2/commercial-asbestos-removal/" style="padding: .75rem 1.25rem;">
                Commercial Asbestos Removal
              </a>
              <a class="dropdown-item" href="https://adyanmuhammad.github.io/airs-2/residential-asbestos-removal/" style="padding: .75rem 1.25rem;">Residential Asbestos Removal</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://adyanmuhammad.github.io/airs-2/contact/">
              Contact Us
            </a>
          </li>
        </ul>
        <a class="btn btn-primary px-2 py-1 my-2 my-sm-0" type="button" href="tel:{{ site.phone }}" style="background-color: #90c33e; border: transparent;">
          CALL US!
        </a>
      </div>

    </nav>
  </div>
</div>