@font-face {
  font-family: TradeGothic;
  src: url(https://adyanmuhammad.github.io/airs-2/assets/fonts/);
}

@font-face {
  font-family: TradeGothic;
  src: url(https://adyanmuhammad.github.io/airs-2/assets/fonts/);
  font-weight: bold;
}

body {
  font-family: "TradeGothic", sans-serif;
}
