@font-face {
  font-family: TradeGothic;
  src: url(https://adyanmuhammad.github.io/airs-2/assets/fonts/fonts-TradeGothic.woff);
}

@font-face {
  font-family: TradeGothic;
  src: url(https://adyanmuhammad.github.io/airs-2/assets/fonts/fonts-TradeGothic-Bold.woff);
  font-weight: bold;
}

body {
  font-family: "TradeGothic", sans-serif;
}
